/.idea/
/venv/
*.iml
*.egg-info
/Vagrantfile
/.vagrant/
/s3app.egg-info/
/app.db
/dist/
/build/
*.log
/helm/charts/
/helm/Chart.lock
values.yaml_*
/test/
/s3app/node_modules/
/s3app/package.json
/s3app/package-lock.json
